{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
        <h1>Dashboard</h1><br/>
        <br />
        You are logged in
        <br/>
        <a href="{{ url_for('logout')}}">Logout</a>
        <br/>
        <br/>
        <strong>Name: {{ current_user.name }}</strong><br />
        <strong>Username: {{ current_user.username }}</strong><br />
        <strong>UserID: {{ current_user.id }}</strong><br />
        <strong>Email: {{ current_user.email }}</strong><br />
        <strong>Favorite color: : {{ current_user.favourite_color }}</strong><br />
        <strong>Joined: {{ current_user.date_added }}</strong><br />
        <strong>About: {{ current_user.about_author }}</strong><br />
        <strong>Pic: {{ current_user.profile_pic }}</strong><br />
        <img src="/static/images/DSC08518.jpg" width="100%"/>
        <a href="{{ url_for('update', id=current_user.id)}}">Edit</a><br/>
        <a href="{{ url_for('delete', id=current_user.id)}}">Slett</a>


        <div class="card">
            <div class="card-header">
              Update Profile
            </div>
            <div class="card-body">
          
                <form action="/dashboard" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control", value=name_to_update.name) }}
                    <br/>
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", value=name_to_update.username) }}
                    <br/>
                    {{ form.favourite_color.label(class="form-label") }}
                    {{ form.favourite_color(class="form-control", value=name_to_update.favourite_color) }}
                    <br />
                    {{ form.profile_pic.label(class="form-label") }}
                    {{ form.profile_pic(class="form-control", value=name_to_update.profile_pick) }}
                    <br />
                    {{ form.about_author.label(class="form-label") }}
                    {{ form.about_author(class="form-control", value=current_user.about_author) }}
                    <br />
                    {{ form.password_hash.label(class="form-label") }}
                    {{ form.password_hash(class="form-control") }}
                    <br />
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", value=name_to_update.email) }}
                    <br />
                    {{ form.submit(class="btn btn-secondary") }}
                </form>
                      
          
                  
          
          
              </form>
          
          
          
          </div>


{% endblock %}