{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Gratulerer {{ name }} - {{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% if name %}
        <h1>HELLO {{ name }}</h1><br/>
        <img src="{{ url_for('static', filename='images/DSC08518.jpg')}}" width="100%" />
        <p id="demo">Dette er en demo</p>
        <script src="{{ url_for('static', filename='js/js-file.js') }}"></script>
    {% else %}
        <h1>What is your name?</h1>
        <br />
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br />
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    {% endif %}
{% endblock %}