{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Gratulerer {{ name }} - {{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
   {% if id == current_user.id %}
        <h1>Update user {{ name_to_update.name }}</h1>
        <br />
        <form action="/update/{{ name_to_update.id }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", value=name_to_update.name) }}
            <br/>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value=name_to_update.username) }}
            <br/>
            {{ form.favourite_color.label(class="form-label") }}
            {{ form.favourite_color(class="form-control", value=name_to_update.favourite_color) }}
            <br />
            {{ form.about_author.label(class="form-label") }}
            {{ form.about_author(class="form-control", value=name_to_update.about_author) }}
            <br />
            {{ form.password_hash.label(class="form-label") }}
            {{ form.password_hash(class="form-control") }}
            <br />
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value=name_to_update.email) }}
            <br />
            {{ form.submit(class="btn btn-secondary") }}
        </form>
        <br/>
        <br/>
        <a href="{{ url_for('delete', id=name_to_update.id)}}">Delete</a>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>You cant edit this user</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    
{% endblock %}